@inherits LayoutComponentBase

<div class="page">

    <main>
        <div class="top-row px-4" style="background-color:#262431; border-bottom: 0; justify-content:flex-start">
            <h2 style="color:#0071BC">wenglor-</h2>
            <h2 style="color:#29ABE2">web-app</h2>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
